header{
        .header-top{background-color:#Da0000;position:fixed;top:0;left:0;width:100%;height:50px;z-index:9;display: flex;justify-content: center;
            .sort-sh{height:100%;width:70%;display: flex;align-items: center;height:30px;margin-top:10px;}
        }
        .ant-carousel{
            margin-top:50px;
        }
        .home-main{
            display:block;
            width:100%;
            // position:fixed;bottom:40;left:0;
            ul{
                display: flex;
                padding:10px 0;
                li{
                    flex:1;
                    text-align: center;
                    .hong{color:#FF6F00;}
                    .huang{color:#F7B200;}
                    .zi{color:#B589E0;}
                    .fen{color:#F53274;}
                    span{
                        color:black;
                        font-size:14px;
                        line-height:24px;
                        padding-right: 15px;
                    }
                    .white{color:white;}
                   .anticon{
                        margin-left:14px;
                        border-radius:50%;
                        text-align:center;
                        line-height:50px;
                        font-size:24px; 
                        display:block;
                        width:50px;height:50px;
                   }
                }
            }
        }
        .slideshow{
            .slick-slide {
                      text-align: center;
                      height: 150px;
                      line-height: 150px;
                      overflow: hidden;
                    }
            img{
                width:375px;
                height:150px;
            }
        }
    }
.f4f4f4{ background:#F4F4F4;width:100%;}
nav{
    div{
        .title-hong{display: block;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #444;
            i{background-color:red; display:inline-block;width:2px;margin-right:8px;}
        }
        .hei{color:black;font-weight:bold;}
        .red{color:red;font-weight:bold;}
        .remen{
                .hot{width:100%; overflow:hidden;
                    img{width:187px; height:100px;}
                    div{width:50%;float:left;}
                    .hei{padding-top:20px;font-weight:bold;}
                    .h0{text-align: center;height:200px;border-top:1px solid #E7E7E7;border-bottom:1px solid #E7E7E7;
                        p{padding-left:10px;font-size: 14px;line-height: 24px;}
                        img{width: 92%;border-radius: 3px;
    margin-top: 6%;}
                    }
                    .h1{
                        .red{top:380px;}
                    }
                    .h2{
                        .red{top:480px;}
                    }
                    .h1,.h2{border-left:1px solid #E7E7E7;border-top:1px solid #E7E7E7;height:100px;
                        border-bottom: 1px solid #e7e7e7;
                       p{position:absolute;padding-left:10px;font-size: 14px;line-height: 24px;}
                       img{width: 48%;
    margin-right: 5px;
    margin-top: 10%;
    border-radius: 2px;
    height: 50%;
    float: right;}
                    }
                }
        }
        .jiaju{
            position:relative;
            .jiaju-furniture{overflow:hidden;
                a{
                    display:block;
                }
            }
            p{position:absolute;padding-left:10px;font-size: 14px;}
            .hei{font-weight:bold;}
            .hui{top:60px;color:#ccc}
            .red{padding-left: 7px;top:80px;}
            .h0{float:left;height:100px;width:50%;overflow:hidden;border-top:1px solid #E7E7E7;
                border-bottom:1px solid #E7E7E7;
                .hei{top: 34px;}
                img{width: 48%;
    margin-right: 13px;
    margin-top: 6%;
    border-radius: 2px;
    height: 74%;
    float: right;}
            }
            .h1{float:right;height:200px;width:50%;border-top:1px solid #E7E7E7;border-left:1px solid #E7E7E7;
                .hei{top: 34px;}
                img{width: 92%;
    margin-top: 41%;
    /* padding-top: 20%; */
    height: 60%;
    border-radius: 3px;
    margin-left: 4%;}
                p{position:absolute;padding-left:10px;font-size: 14px;}
            }
            .h2{height:100px; float:left;overflow:hidden;width:50%;
                p{position:absolute;padding-left:10px;font-size: 14px;padding-top: 8px;}
                .hui{top:150px; }
                .red{top:178px;}
                img{width: 48%;
    margin-right: 13px;
    margin-top: 6%;
    border-radius: 2px;
    height: 74%;
    float: right;}
            }
        }
        .xinpin{
            .jiaju-recommend{overflow:hidden;border-top:1px solid #e7e7e7;
                >ul{border-bottom:1px solid #e7e7e7;
                &:nth-of-type(2n+1){border-right:1px solid #e7e7e7}
                    float:left;position:relative;width:50%;height:100px;
                    li{
                        padding-left:10px;font-size:14px;
                        p{position: absolute;}
                        .hei{top:20px;}
                        .hui{top:42px;color:#ccc}
                        .red{top:64px;}
                        img{
                            width: 48%;
    margin-right: 13px;
    margin-top: 6%;
    border-radius: 2px;
    height: 74%;
    float: right;
                        }
                    }
                }
            }
        }
    }
}
main{
    // padding-left:10px;
    display:flex;
    .like{
        // padding-left:10px;
       overflow:hidden;
       .wg-t{display: block;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #444;
    padding-left: 16px;}
       >p{line-height:23px;
            .lan{
                background-color:#108ee9;
                margin-right:6px;
            }
       }
       .blue{color:#108ee9;background-color:white;border-radius:50%;width:16px;}
        ul{
            width:43%;
            float:left;
            margin-left:15px;
            li{
                font-size:14px;
                color:black;
                .red{
                   color:#cf000e;
                }
                .hui{
                    color: #9e9e9e; margin-left:10px;
                }
                p{
                    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
                    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
                    -webkit-line-clamp:1; /** 显示的行数 **/
                    overflow: hidden;  /** 隐藏超出的内容 **/
                }
            }
        }
        img{
            width:100%;
            height:122px;
        }
    }
}
footer{
    .ant-back-top {bottom:80px;right:20px;}
    .ant-back-top-inner {
      height: 40px;width: 40px;line-height:40px;
      border-radius:50%;background-color:#A0A0A0;
      color:white;text-align: center;font-size: 20px;
    }
}
// position: fixed 绝对固定底部后会挡住内容 加一个DIV显示出最下面的东西
.h50{
    height:50px;
}
